

p.borde-1 {
    border: red 3px solid;
  }
  
p.borde-2 {
    border: blue 10px groove;
}

news>img {
    border: 5px solid #555;
    display: flex;
    justify-content: space-around;
  }

p.text-a {
    text-align: justify
}